body {
    margin: 0 10%;
    background-color: #caf0f8;
    color: #03045e;
}

.signin {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: #ade8f4;
}

h1 {
    margin: 6rem 0 1rem;
}

.log {
    border: none;
    box-shadow: 0 0 5px 2px #90e0ef;
    margin: 0 40% 27rem;
    width: 15rem;
    height: 20rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #90e0ef;
    border-radius: 10px;
}

button {
    width: 5rem;
    height: 2rem;
    margin-top: 2rem;
    background-color: #00b4d8;
    border: none;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
}

a {
    color: #023e8a;
    text-decoration: none;
}

input {
    background-color: #caf0f8;
    border: none;
}